---
import type { CollectionEntry } from 'astro:content';
import Base from './Base.astro';
import FormattedDate from '../FormattedDate.astro';
import TableOfContents from '../ui/TableOfContents.astro';
import ReadingProgress from '../ui/ReadingProgress.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate,image, } = Astro.props;
---

<Base title={title} description={description}>
  <ReadingProgress />
  
  <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-16">
    <div class="lg:grid lg:grid-cols-[250px_minmax(0,1fr)] lg:gap-8">
      <!-- Sidebar -->
      <aside class="hidden lg:block">
        <div class="sticky top-24 text-gray-100">
          <TableOfContents />
        </div>
      </aside>

      <!-- Article -->
      <article class="mx-auto">
            {image && (
          <div class="mb-8 not-prose">
            <img 
              src={image.url} 
              alt={title}
              class="w-full h-auto rounded-xl shadow-lg"
              width={1020} 
              height={510}
            />
          </div>
        )}
        
        <header class="mb-8">
          <div class="flex items-center gap-2 text-black dark:text-gray-100 mb-4">
            <FormattedDate date={pubDate} />
          
          </div>
          <h1 class="text-4xl font-bold mb-4">{title}</h1>
          {description && (
            <p class="text-xl text-black dark:text-gray-300">{description}</p>
          )}
        </header>

        <div class="prose-content">
          <slot />
        </div>
      </article>
    </div>
  </main>
</Base>